.saved-rentals {
    position: relative;
}

.logout {
    position: absolute;
    right: 5px;
    top: 0;
}

.no-saved {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}